# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env
.env.*
!.env.example

# Local practice data
practice_data/

# Terraform
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
*.tfvars
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfplan
terraform/**/.terraform.tfstate.lock.info

# Ansible vault secrets
ansible/group_vars/**/vault.yml
